@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    @font-face {
        font-family: anonymousB;
        src: url("/public/Anonymous\ Pro\ B.ttf");
    }
    @font-face {
        font-family: anonymousL;
        src: url("/public/Anonymous\ Pro.ttf");
    }
    @font-face {
        font-family: gintronicMedium;
        src: url("/public/GintronicMedium.ttf");
    }
    @font-face {
        font-family: gintronicThin;
        src: url("/public/GintronicThin.ttf");
    }
    @font-face {
        font-family: monalisa;
        src: url("/public/Monolisa\ Font.ttf");
    }
    .small{
        font-family: 'monalisa';
    }
    .desc{
        font-family: 'monalisa';
    }
    .details{
        font-family: 'monalisa';
    }
    .resume{
        font-family: 'gintronicMedium';
    }
    .code{
        font-family: 'monalisa';
    }
    .no-scrollbar::-webkit-scrollbar{
        display: none;
    }
    .no-scrollbar{
        -ms-text-overflow-style: none;
        scrollbar-width: none;
    }
}